@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
.text-justify{
    text-align: justify;
}
#top-banner{
    height: 100vh;
}
header{
    background: linear-gradient( #2DB1FF ,#6A4EE1);
    padding:10px 0 5px;
    text-align:center;
    color:#ddd;
    box-shadow: 0 5px 10px #2DB1FF;

}
header p{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    margin:0;
    font-weight: 600;
}

