@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
section{
    min-height: 96vh;
    padding-top: 120px;
}
a{
    text-decoration: none;
}
.bg-ash{
    background-color: #eeeeee;
}
.nav-btn :hover{
    background: #fff !important;
    font-weight: bold;

}
.text-justify{
    text-align: justify;
}
header{
    background: linear-gradient( #2DB1FF ,#6A4EE1);
    padding:10px 0 ;
    text-align:center;
    color:#ddd;
    box-shadow: 0 5px 10px #2DB1FF;

}

footer {
    background: #6A4EE1;
    text-align: center;
    color: #ddd;
    box-shadow: 10px 0px 10px #2db1ff;

}
header p{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    margin:0;
    font-weight: 600;
    font-size: 20px;
}
.letter-spacing-1{
    letter-spacing: 2px;
}
.title{
    display:inline-block;
    border-bottom:5px dashed rgb(32, 32, 34);
    letter-spacing: 3px;
    font-weight: 600;
    
}
.text-wrap{
    position: relative;
}
.bg-text{
    position: absolute;
    bottom:0;
    margin:0;
    left:18px;
    opacity: .2;
    font-weight: 900;
    letter-spacing: 3px;
    z-index: -1;
}
